<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 - Fundamentos</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app" class="container">
        <h1>
            {{ textUppercase }}
        </h1>
        <h2 class="bg-dark" :class="colorTexto">Saldo: ${{ cantidad }}</h2>

        <a v-bind:href="enlance">V-BIND forma larga</a>
        <br>
        <a :href="enlance">V-BIND forma corta</a>
        <br>
        <!-- <h2>
            {{ estado ? 'Activa' : 'Inactiva' }}
        </h2>   -->
        <h2 v-if="estado">C. Activa</h2>
        <h2 v-else>C. Inactiva</h2>

        <br>

        <h2 v-if="cantidad > 600">Cantidad: {{cantidad}}</h2>
        <h2 v-else-if="cantidad <= 500 && cantidad > 0">
            Cantidad: $ <span style="color:orange">{{cantidad}}</span>
        </h2>
        <h2 v-else>Sin cantidad: {{cantidad}}</h2>

        <br>

        <ul>
            <li v-for="(item, index) in servicios" :key="index">
                {{ item }}
            </li>
        </ul>

        <hr>

        <button class="btn btn-primary" v-on:click="agregarSaldo">Agregar saldo</button>
        &nbsp;
        <button class="btn btn-danger" @click="disminuirSaldo(100)" :disabled="desactivar">Disminuir saldo</button>

    </div>
    <script src="main.js"></script>
    <script>
        app.mount('#app');
    </script>
</body>

</html>